.wrapper {
    height: 200px;
    display: flex;
    align-items: center;
    background-color: rgb(91, 28, 128);
}

.special-1 {
    width: 33.3vw;
    /*min-width: 350px;*/
    background-color: rgb(245, 155, 38);
}

.special-2 {
    width: 50%;
    min-width: 350px;
    background-color: rgb(206, 28, 28);
}