h2 {
    margin: 0;
}


.gallery {
    box-shadow: 5px 5px 10px grey;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
}

.gallery-1 {
    justify-content:flex-start;
}

.gallery-2 {
    justify-content: center;
}

.gallery-3 {
    justify-content: flex-end;
}

.gallery > img {
    width: 200px;
}
