body {
	margin: 0px;
}

h1 {
	font-size: 60px;
	font-family: Open Sans;
	color: rgb(0, 0, 0);
	font-weight: bold;
	margin: 0px;
}

p {
	font-size: 16px;
	font-family: Open Sans;
	color: rgb(0, 0, 0);
	font-weight: normal;
}

a {
	color: rgb(246, 242, 242);
	text-decoration: none;
}

.wrap {
    width: 100%;
    height: 688px;
    background-color: rgb(246, 242, 242);
}

.sep {
	height: 29px;
}

.sep2 {
	height: 103px;
}

.menubox {
	margin: 0px auto;
    width: 1249px;
    height: 89px;
	display: flex;
    background-color: rgb(49, 48, 48);
}

.menuboxdop {
	margin: 0px auto;
	width: 500px;
	display: flex;
}

.menu {
	margin: auto;
	height: 89px;
    max-width: 200px;
	display: table;
	float: left;
}

.item {
	padding-top: 35px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 32px;
	text-align: center;
	font-weight: bold;
	font-family: Open Sans;
}

.menu div:hover {
	background-color: rgb(255, 63, 64);
}

.contentbox {
	margin: 0px auto;
    width: 1249px;
    height: 358px;
	display: flex;
}

.contentleft {
	margin: 0px auto;
    width: 600px;
    height: 358px;
	display: flex;
}

.contentright {
	margin: 0px auto;
    width: 600px;
    height: 358px;
	display: flex;
}

.button {
    width: 229px;
    height: 56px;
    background-color: rgb(255, 48, 48);
	font-family: Open Sans;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
}