
.special-1 {
    order: 1;
}

.special-2 {
    order: 2;
}

.special-3 {
    order: -1;
}

.special-4 {
    order: 5;
}

.special-5 {
    order: 4;
}

.special-6 {
    order: 6;
}
.special-1 {
    order: 1;
}

.special-2 {
    order: 2;
}

.special-3 {
    order: -1;
}

.special-4 {
    order: 5;
}

.special-5 {
    order: 4;
}

.special-6 {
    order: 6;
}