.item {
    display: inline-block;
    width: 300px;
    background-color: rgb(240, 152, 70);
}

.item-name {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.item-count {
    display: block;
    text-align: center;
    font-size: 25px;
}