h1,
h2 {
    color: rgb(233, 175, 15);
}

p {
    font-size: 20px;
    color: rgb(94,94,94);
}

.about-heading {
  color: rgb(240,17,17);
}

.important-text {
    color: #000;
    font-weight: 700;
}

header a:nth-child(1) {
    color: rgb(64, 216, 25);
}


h2 + p {
    font-style: italic;
}

a:hover {
    color: rgb(231, 22, 22);
}

a:nth-child(1) {
    color: green;
}

/*a:nth-first(3) {*/
/*    color: yellow;*/
/*}*/

a:nth-of-type(1) {
    color: #5e5e5e;
}

a:nth-child(1) {
    color: yellow;
}



/*a:first-of-type(3) {*/
/*    color: #2b542c;*/
/*}*/




/*main h2:nth-of-type(2) {*/
/*    color: rgb(0, 0, 255);*/
/*}*/


